ISLP>=0.4.0
# Additional data science packages that complement ISLP
numpy>=1.26.4
numpy<2
pandas>=2.2.2
pandas<3
pygam==0.10.1
scikit-learn==1.5.0
scipy>=1.11.1
scipy<1.17
statsmodels>=0.14.0
seaborn>=0.12.0
torchinfo>=1.8.0
l0bnb==1.0.0
# For testing
nbmake>=1.5.5
pytest>=9.0.2
pytest-html>=4.2.0